html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

body {
	/* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,112,152,1) 48%, rgba(0,212,255,1) 100%); */
    min-height: 100vh;
	color: #333;
}

.header_title {
	color: #00487C;
	margin-bottom: 48px;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 20px auto;
	padding-top: 120px;
}

.about {
	background: rgba(204, 204, 204, 0.925);
	padding: 10px;
	/* overflow: hidden; */
}

.about__header {
	color: #564138;
}

.about__link {
	color: #1A936F;
	text-decoration: none;
}

.about__paragraph {
	padding: 16px;
}

.about__paragraph--color {
	color: red;
}

.about__image {
	width: 100%;
	max-width: 200px;
	display: block;
	float: left;
	margin: 15px 15px 10px 0;
}

.day {
	padding: 16px;
}

.day__header {
	margin: 0 0 16px;
	color: #0496FF;
	font-size: 20px;
}

.day__paragraph {
	line-height: 24px;
	padding: 0;
	margin: 0;
}

.day__link {
	color: #1A936F;
}

.diary {

}

.diary__header {
	color: #1460aa;
}

.hobby {

}

.hobby__list {
	list-style: none;
}

.main-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 16px;
	background: #fff;
}

.navigation {

}

.navigation__item {
	display: block;
	background: rebeccapurple;
	padding: 16px;
	margin-right: 8px;
}

.navigation__list {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation__link {
	color: #1A936F;
}

section {
	display: block;
}

.boxSticky {
	width: 100px;
	height: 100px;
	background: yellow;
	padding: 10px;
	border: 10px solid #564138;
	box-sizing: border-box;
	position: sticky;
	top: 0;
}

.box, .boxTest {
	width: 150px;
	height: 100px;
	background: #f24236;
	padding: 10px;
	border: 10px solid #564138;
	box-sizing: border-box;
	position: absolute;
	top: 20px;
	left: 50%;
}

.box {
	z-index: 5;
}

.boxTest {
	top: 60px;
	left: 60%;
	background: yellow;
	z-index: 4;
	position: fixed;
}

.top {
	position: fixed;
	bottom: 100px;
	right: 20px;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	text-align: center;
	background: #ccc;
	text-decoration: none;
}

@media print {
	body {
		background: yellow;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

@media (max-width: 640px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 900px) {
	.main {
		max-width: 850px;
	}
}